export EDITOR=vim
export ARCH=`uname -p`

alias history="history 0"
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias qq='reset'
alias ee='exit'
alias listening='netstat -anp tcp | grep "LISTEN"'
alias rss="ps aux | sort -n -k 4"
alias c='clear'
alias ch='choice'
alias please='sudo $(fc -ln -1)'

alias tre='tree -a -C'
alias q='exa -a -l --sort=modified'
alias sudo='sudo '
alias t='ls -lt'
alias b='ls -ltr'
alias sudo='sudo '


if [[ "$OSTYPE" == "darwin"* ]]
then


    alias cat='bat'
    alias kit='bat --style=snip'
    export FIGNORE=".DS_Store"
    export GLOBIGNORE=".DS_Store"
    alias code='code-insiders'


elif [[ "$OSTYPE" == "linux-gnu" ]]
then

  
    alias kit='batcat --style=snip'
    alias cat='batcat'
    alias open='xdg-open'
    alias pbcopy='xsel --clipboard --input'
    alias pbpaste='xsel --clipboard --output'
fi

